* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 100dvw;
  height: 100dvh;
  background-color: #df8c66;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  position: relative;
}

.text {
  font-size: 2rem;
}

.speed {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 3vmin;
  padding: 1vmin 2vmin;
  background-color: #00000033;
}

input {
  width: 9vmin;
  padding: 1vmin;
  border: none;
  outline: none;
  background-color: #df8c66;
  text-align: center;
}
